[submodule "dev/HierarchicalTsetlinMachine"]
	path = dev/HierarchicalTsetlinMachine
	url = https://github.com/cair/HierarchicalTsetlinMachine.git
[submodule "dev/PyHierarchicalTsetlinMachineCUDA"]
	path = dev/PyHierarchicalTsetlinMachineCUDA
	url = git@github.com:cair/PyHierarchicalTsetlinMachineCUDA.git
