[submodule "dev/tmu"]
	path = dev/tmu
	url = git@github.com:cair/tmu.git
[submodule "dev/PyHierarchicalTsetlinMachineCUDA"]
	path = dev/PyHierarchicalTsetlinMachineCUDA
	url = git@github.com:cair/PyHierarchicalTsetlinMachineCUDA.git
[submodule "dev/ChEMBL_Structure_Pipeline"]
	path = dev/ChEMBL_Structure_Pipeline
	url = git@github.com:chembl/ChEMBL_Structure_Pipeline.git
